.nav {
    position: relative;
    width: 100dvw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
    box-shadow: 0px 0.1px 4px #d0c5bc;

    .logo {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 5%;
        color: #b98357;
        font-weight: bolder;
        text-shadow: 1px 1px #8c6d57;
        text-decoration: none;
        font-size: 1.3em;

        img {
            filter: invert(12%) sepia(15%) saturate(2339%) hue-rotate(114deg) brightness(97%);
            width: 50px;
            height: 50px;
        }

        img:hover {
            filter: invert(65%) sepia(6%) saturate(935%) hue-rotate(33deg) brightness(89%);
        }
    }

    .sections {
        margin-right: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;

        .section {
            display: flex;
            align-items: center;
            height: 6.5dvh;
            text-decoration: none;
            color: #042a20;

            img{
                display: none;
                width: 30px;
                height: 30px;
            }
        }

        .section:hover {
            color: #90967c;
        }

        .selected {
            color: #90967c;
        }
    }
}

@media (max-width: 700px) {

    .nav {

        .sections {
            z-index: 6;
            transition: 0.5s;
            flex-direction: column;
            justify-content: flex-start;
            gap: 70px;
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 0;

            .section {
                height: fit-content;
                margin-top: calc(5dvh - 15px);
                margin-right: 5dvw;

                &.menu{
                    display: none;
                }
                img {
                    display: inline-flex;
                }
            }

            &.clicked {
                background-color: #042a20;
                height: 100dvh;
                width: 50dvw;

                .section {
                    align-self: flex-start;
                    margin-left: 5dvw;

                    &.menu{
                        display: inline;
                        color: white;
                    }

                    &.selected{
                        color: #434639;
                    }

                    img {
                        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(320deg) brightness(102%);
                    }
                }
            }
        }
    }
}